<!DOCTYPE html>
 <html lang="de">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link href="template/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab" rel="stylesheet">


  </head>
  <body>
{{!--     <div class="container">
      <img src="src/res/header.png" id="logo" alt="blockparty" />
    </div> --}}
    <div class="page-wrap">
      <div id="page-container">
      <h1>{{title}}</h1>
      <h2>{{h2}}</h2>
      <p>{{body}}</p>
      </div>
    </div>

    
  <script src="js/main.js"></script>
  </body>
</html>
